
/* did this to test if 2 css file could be pulled from! It worked!!!
The color specified here by the MARK rule overroad the Bootstrap color!!! */

mark {
    background-color: red;
}

media {
    width: 200%;
    height: 200%;
    background-size: contain;
}